extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Joey Desjardins


        p.lead.text-light



        .portfolio-bio.div-bg
          p
            | I am obsessed with learning. I am currently focussed on building full-stack applications using React, Node.js with Express servers and both non-relational as well as relational database libraries such as sequelize and mongoose. I am excited to continue to learn new technologies.
          img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/512px-Node.js_logo.svg.png")
          img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/512px-React-icon.svg.png")
          img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/512px-MongoDB_Logo.svg.png")



      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li ES6 Javascript
          li NPM package manager
          li Express - Routes, Error Handling, Express-Generator
          li React - props
          li React - Context API
          li React - Redux
          li DOM - Traversal, Manipulation, Events
          li DB - MongoDB(non-relational)
          li DB - SQLite(realtional)
          li CSS - Flexbox / Grid
          
      
        h6 Contact Info

        
        ul
          li 408-335-9772
          li jwdesjardin@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/joseph-desjardin-b34441137', target='__blank') LinkedIn
        a.button.expanded(href='https://github.com/jwdesjardin', target='__blank') GitHub
        //- a.button.expanded(href='https://twitter.com/joeydesjardin', target='__blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  